main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: none;
    width: 100%;
}

.login-card {
    width: 100%;
    max-width: 25rem; 
    padding: 1.25rem;
    border-radius: 0.625rem; 
    background-color: white;
    box-shadow: 0px 0.25rem 0.9375rem rgba(0, 0, 0, 0.2); 
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-grow: 1;
}

.nav-tabs .nav-link {
    color: #2897b3 !important;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    padding: 0.625rem 0.9375rem; 
}

.nav-tabs .nav-link.active {
    background-color: #2897b3 !important;
    color: white !important;
    border-color: #2897b3;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    border-radius: 0.625rem 0.625rem 0 0; 
}

.nav-tabs .nav-link:hover {
    background-color: #ddd;
    color: #2897b3 !important;
    transform: scale(1.05);
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
    color: white !important;
}

.nav-tabs {
    border-bottom: 0.0625rem solid #2897b3; 
}

.btn-primary {
    background-color: #2897b3 !important;
    color: #fff !important;
    border: none;
}

.btn-primary:hover {
    background-color: #217d93 !important;
}

footer {
    text-align: center;
    padding: 0.625rem 0; 
    width: 100%;
    margin-top: auto;
}
